<div
  *ngIf="isSidebarOpen"
  class="fixed inset-0 bg-black bg-opacity-40 z-30"
  (click)="closeSidebar()"
></div>

<!-- Sidebar (overlay en todas las pantallas) -->
<app-sidebar
  *ngIf="isSidebarOpen"
  class="fixed top-0 left-0 z-40 animate-fade-in transition-transform duration-400"
  (closeSidebar)="closeSidebar()"
></app-sidebar>

<!-- Contenido principal -->
<div class="min-h-screen bg-gray-100">
  <app-header (toggleMenu)="toggleSidebar()"></app-header>

  <div class="max-w-7xl mx-auto pt-20 pb-10 px-8">
      <router-outlet></router-outlet>
  </div>
</div>
