<div class="relative">
    <!-- Botón de campana -->
    <button
      class="relative"
      aria-label="Notificaciones"
      (click)="toggleNotifications()"
    >
      <!-- Ícono de campana -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="h-6 w-6 text-gray-500"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 15V11a6.002 6.002 0 00-4-5.659V4a2 2 0 00-4 0v1.341C7.67 7.165 6 9.388 6 12v3c0 .217-.036.427-.105.621L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
        ></path>
      </svg>
      <!-- Badge rojo cuando hay notificaciones -->
      <span *ngIf="unreadCount > 0"
        class="absolute -top-1 -right-1 bg-pink-500 rounded-full w-5 h-5 border-2 border-white text-xs flex items-center justify-center">
    {{ unreadCount }}
  </span>
  
    </button>
  
    <!-- Popover de notificaciones -->
    <div
      *ngIf="showNotifications"
      class="absolute right-0 mt-2 w-72 max-w-xs bg-white rounded-xl shadow-xl border z-50 animate-fade-in"
    >
      <div
        class="p-4 border-b font-semibold text-gray-700 flex items-center justify-between"
      >
        Notificaciones
        <button
          (click)="showNotifications = false"
          class="p-1 rounded hover:bg-gray-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="max-h-64 overflow-y-auto">
        <ng-container *ngIf="notifications.length > 0; else noNotifications">
          <div
            *ngFor="let notification of notifications"
            class="px-4 py-3 text-sm text-gray-600 hover:bg-gray-50 cursor-pointer border-b last:border-b-0"
          >
          Emergencia tipo <b>{{ notification.typeName }}</b> enviada por <b>{{ notification.username }}</b> a las ({{ notification.createdAt}})

            <span
              *ngIf="notification.date"
              class="block text-xs text-gray-400"
            >
              <!-- {{ notification.date | date: "short" }} -->
            </span>
          </div>
        </ng-container>
        <ng-template #noNotifications>
          <div class="px-4 py-6 text-center text-gray-400">
            No hay notificaciones.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  