<div class="bg-gray-100 pt-1">
  <div class="max-w-6xl mx-auto px-2 sm:px-4 lg:px-8">
    <h2 class="text-xl font-bold mb-6 text-gray-700">Listado de reportes</h2>

    <!-- Tabla desktop -->
    <div class="hidden md:block bg-white rounded-2xl shadow p-4 sm:p-6">
      <div class="overflow-x-auto min-w-[700px] min-h-[340px]">
        <table class="w-full border-separate border-spacing-0 text-sm">
          <thead>
            <tr>
              <th class="px-4 py-2 text-left font-semibold border-b">
                N° de reporte
              </th>
              <th class="px-4 py-2 text-left font-semibold border-b">
                Tipo de reporte
              </th>
              <th class="px-4 py-2 text-left font-semibold border-b">
                Fecha de creación
              </th>
              <th class="px-4 py-2 text-left font-semibold border-b">Estado</th>
              <th class="px-4 py-2 text-left font-semibold border-b">
                Detalles
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of pagedReports" class="hover:bg-gray-50">
              <td class="px-4 py-3 border-b">{{ report.caseNumber }}</td>
              <!-- <td class="px-4 py-3 border-b">{{ report. }}</td> -->
              <td class="px-4 py-3 border-b">
                <span class="block bg-gray-100 px-3 py-1 rounded">{{
                  report.type.showName
                }}</span>
              </td>
              <td class="px-4 py-3 border-b">{{ report.createdAt }}</td>
              <td class="px-4 py-3 border-b">
                <span
                  [ngClass]="getStatusClass(report.stage.name)"
                  class="px-4 py-1 rounded-full border text-xs font-medium"
                >
                  {{ report.stage.showName }}
                </span>
              </td>
              <td class="px-4 py-3 border-b">
                <div class="flex gap-2">
                  <!-- Iconos acción -->
                  <button
                    class="hover:text-blue-600"
                    title="Ver"
                    (click)="
                      abrirResumen('reporte', {
                        caseNumber: report.caseNumber,
                        description: report.description,
                        stage: report.stage.showName,
                        createdAt: report.createdAt
                      })
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                      />
                    </svg>
                  </button>
                  <button
                    class="hover:text-yellow-600"
                    title="Editar"
                    (click)="goToDetail(report.reportId)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15.232 5.232l3.536 3.536M9 13h3l8-8a2.828 2.828 0 00-4-4l-8 8v3z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M16 21H4a1 1 0 01-1-1v-4a1 1 0 011-1h12a1 1 0 011 1v4a1 1 0 01-1 1z"
                      />
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Cards para mobile -->
    <div class="space-y-4 md:hidden">
      <div
        *ngFor="let report of pagedReports"
        class="bg-white rounded-xl shadow p-4 flex flex-col gap-2"
      >
        <div class="flex justify-between">
          <span class="text-xs text-gray-400"># {{ report.caseNumber }}</span>
         
        </div>
        <div>
          <span class="font-semibold">Tipo:</span>
          <span class="ml-2 bg-gray-100 px-2 py-1 rounded text-xs">{{
            report.type.name
          }}</span>
        </div>
        <div>
          <span class="font-semibold">Fecha:</span>
          <span class="ml-2">{{ report.createdAt }}</span>
        </div>
        <div>
          <span class="font-semibold">Estado:</span>
          <span
            class="ml-2 px-2 py-1 rounded-full border text-xs font-medium"
            [ngClass]="getStatusClass(report.stage.name)"
          >
            {{ report.stage.showName }}
          </span>
        </div>
        <div class="flex gap-2 mt-2">
          <!-- Iconos acción -->
        </div>
      </div>
    </div>

    <!-- Paginador -->
    <div class="flex items-center justify-center mt-8 gap-2">
      <button
        class="px-3 py-1 rounded border border-gray-200 shadow bg-white hover:bg-gray-100 transition disabled:opacity-40 disabled:cursor-not-allowed"
        [disabled]="reportPage === 1"
        (click)="changeReportPage(reportPage - 1)"
      >
        Anterior
      </button>
      <ng-container
        *ngFor="let p of [].constructor(reportTotalPages); let i = index"
      >
        <button
          class="px-3 py-1 rounded border border-gray-200 shadow hover:bg-gray-100 transition"
          [ngClass]="{
            'bg-blue-600 text-white border-blue-600': reportPage === i + 1
          }"
          (click)="changeReportPage(i + 1)"
        >
          {{ i + 1 }}
        </button>
      </ng-container>
      <button
        class="px-3 py-1 rounded border border-gray-200 shadow bg-white hover:bg-gray-100 transition disabled:opacity-40 disabled:cursor-not-allowed"
        [disabled]="reportPage === reportTotalPages"
        (click)="changeReportPage(reportPage + 1)"
      >
        Siguiente
      </button>
    </div>
  </div>
</div>

<app-confirm-modal
  [open]="showConfirm"
  [loading]="eliminarEnProgreso"
  title="¿Estás seguro que deseas eliminar este reporte?"
  message="Esta acción no se puede deshacer."
  (confirm)="eliminarReporte()"
  (cancel)="showConfirm = false"
></app-confirm-modal>

<!-- Modal de éxito -->
<app-alert-modal
  [open]="showSuccess"
  type="success"
  title="¡Eliminado!"
  message="El reporte fue eliminado exitosamente."
  (close)="cerrarSuccess()"
></app-alert-modal>

<!-- Loading spinner, lo pones al final para que cubra la pantalla -->
<app-loading-spinner [show]="loading"></app-loading-spinner>

<!-- El modal -->
<app-summary-modal
  [open]="showSummary"
  [type]="summaryType"
  [data]="summaryData"
  (close)="cerrarResumen()"
></app-summary-modal>
