<div class="pt-1">
  <div class="max-w-6xl mx-auto px-2 sm:px-4 lg:px-8">
    <h2 class="text-xl font-bold mb-6 text-gray-700">
      Historial de infracciones
    </h2>

    <!-- Tabla desktop -->
    <div class="hidden md:block bg-white rounded-2xl shadow p-4 sm:p-6">
      <div class="overflow-x-auto min-w-[700px] min-h-[340px]">
        <div class="flex justify-between items-center mb-4">
          <button
            class="flex items-center gap-2 bg-blue-600 text-white font-semibold px-4 py-2 rounded-lg shadow hover:bg-blue-700 transition active:scale-95"
            (click)="showInfractionCreate = true"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 4v16m8-8H4"
              />
            </svg>
            Crear infracción
          </button>
        </div>
        <table class="w-full border-separate border-spacing-0 text-sm">
          <thead>
            <tr>
              <th class="px-4 py-2 text-left font-semibold border-b">
                N° de infracción
              </th>
              <th class="px-4 py-2 text-left font-semibold border-b">
                Nombre de usuario
              </th>
              <th class="px-4 py-2 text-left font-semibold border-b">
                Tipo de infracción
              </th>
              <th class="px-4 py-2 text-left font-semibold border-b">
                Fecha de creación
              </th>
              <th class="px-4 py-2 text-left font-semibold border-b">Monto</th>
              <th class="px-4 py-2 text-left font-semibold border-b">
                Acciones
              </th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let infraction of pagedInfractions"
              class="hover:bg-gray-50"
            >
              <td class="px-4 py-3 border-b">
                {{ infraction.infractionNumber }}
              </td>

              <td class="px-4 py-3 border-b">
                {{ infraction.user.fullName }}
              </td>

              <td class="px-4 py-3 border-b">
                <span class="block bg-gray-100 px-3 py-1 rounded">
                  {{ infraction.type.showName }}
                </span>
              </td>

              <td class="px-4 py-3 border-b">
                {{ infraction.createdAt | date : "short" }}
              </td>

              <td class="px-4 py-3 border-b">
                {{ infraction.amount | currency : "USD" : "symbol" : "1.2-2" }}
              </td>

              <td class="px-4 py-3 border-b">
                <div class="flex gap-2">
                  <!-- Iconos acciones -->
                  <button
                    title="Ver"
                    class="hover:text-blue-600"
                    (click)="abrirResumen('infraccion', infraction)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                      />
                    </svg>
                  </button>
                  <!-- Switch Activo / Inactivo -->
                  <label class="switch">
                    <input
                      type="checkbox"
                      class="checkbox"
                      [checked]="infraction.active"
                      (change)="toggleActive(infraction)"
                    />
                    <span class="slider"></span>
                  </label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Cards para mobile -->
    <div class="space-y-4 md:hidden">
      <div
        *ngFor="let infraction of pagedInfractions"
        class="bg-white rounded-xl shadow p-4 flex flex-col gap-2"
      >
        <div class="flex justify-between">
          <span class="font-semibold text-gray-500">
            {{ infraction.user.fullName }}
          </span>
          <span class="text-xs text-gray-400">
            # {{ infraction.infractionNumber }}
          </span>
        </div>

        <div>
          <span class="font-semibold">Tipo:</span>
          <span class="ml-2 bg-gray-100 px-2 py-1 rounded text-xs">
            {{ infraction.type.showName }}
          </span>
        </div>

        <div>
          <span class="font-semibold">Fecha:</span>
          <span class="ml-2">
            {{ infraction.createdAt | date : "shortDate" }}
          </span>
        </div>

        <div>
          <span class="font-semibold">Monto:</span>
          <span class="ml-2">
            {{ infraction.amount | currency : "USD" : "symbol" : "1.0-0" }}
          </span>
        </div>

        <div class="flex gap-2 mt-2">
          <!-- Acciones -->
          <button
            class="flex-1 text-center py-1 rounded border text-xs hover:bg-gray-100"
            (click)="abrirResumen('infraccion', infraction)"
          >
            Ver
          </button>
          <button
            class="flex-1 text-center py-1 rounded border text-xs hover:bg-gray-100"
            (click)="toggleActive(infraction)"
          >
            {{ infraction.active ? "Desactivar" : "Activar" }}
          </button>
        </div>
      </div>
    </div>

    <!-- Paginador -->
    <div class="flex items-center justify-center mt-8 gap-2">
      <button
        class="px-3 py-1 rounded border border-gray-200 shadow bg-white hover:bg-gray-100 transition disabled:opacity-40 disabled:cursor-not-allowed"
        [disabled]="page === 1"
        (click)="changePage(page - 1)"
      >
        Anterior
      </button>

      <ng-container *ngFor="let _ of [].constructor(totalPages); let i = index">
        <button
          class="px-3 py-1 rounded border border-gray-200 shadow hover:bg-gray-100 transition"
          [ngClass]="{
            'bg-blue-600 text-white border-blue-600': page === i + 1
          }"
          (click)="changePage(i + 1)"
        >
          {{ i + 1 }}
        </button>
      </ng-container>

      <button
        class="px-3 py-1 rounded border border-gray-200 shadow bg-white hover:bg-gray-100 transition disabled:opacity-40 disabled:cursor-not-allowed"
        [disabled]="page === totalPages"
        (click)="changePage(page + 1)"
      >
        Siguiente
      </button>
    </div>
  </div>
</div>
<app-loading-spinner [show]="loading"></app-loading-spinner>
<!-- Modal -->
<app-summary-modal
  [open]="showSummary"
  [type]="summaryType"
  [data]="summaryData"
  (close)="cerrarResumen()"
></app-summary-modal>
<!-- Mostrar modal -->
<app-infraction-create-modal
  [open]="showInfractionCreate"
  (create)="crearInfraction($event)"
  (close)="cerrarCreateModal()"
></app-infraction-create-modal>
<app-alert-modal
  [open]="showSuccess"
  type="success"
  [title]="alertTitle"
  [message]="alertMessage"
  (close)="cerrarSuccess()"
></app-alert-modal>
